.btn {
  display: block;
  padding: 15px 25px;

  font-family: $ff-roboto-cond;
  font-style: normal;
  font-weight: 700;
  color: $color-alice-blue;
  letter-spacing: 0.05em;
  align-items: center;
  text-align: center;

  background-color: $color-deep-sky-blue;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  text-transform: uppercase;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
