.header {
  background-image: $black-pearl2-to-bottom;
  z-index: 30;

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 23px 100px 35px 40px;

    @include vp-1023 {
      padding: 7px 80px 26px 50px;
    }

    @include vp-767 {
      padding: 11px 45px 21px 26px;
    }
  }

  &__logo {
    display: flex;
    margin: 7px 23px 0 0;
    align-items: center;

    @media (max-width: 1023px) {
      flex-direction: row;
      margin: 12px 23px 0 0;
    }

    @include vp-767 {
      margin: 3px 23px 0 0;
      width: 35px;
      height: 35px;
    }
  }
}

.logo {
  &__text {
    display: flex;
    flex-direction: column;
    font-family: $ff-roboto-cond;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    color: $color-default-white;
    margin: 0;
    padding-left: 70px;

    @include vp-767 {
      display: none;
    }
  }

  &__text-inf {
    font-family: $ff-roboto;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: rgba(225, 225, 225, 0.7);

    @include vp-767 {
      display: none;
    }
  }
}

.header__list {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 40px;
  }
}

.header__item {
  min-width: 225px;

  @include vp-1023 {
    min-width: 20px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-alice-blue;
}

.header__text {
  @include vp-1023 {
    display: none;
  }
}

.header__icon {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__button {
  font-family: $ff-roboto-cond;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0;

  @include vp-1023 {
    display: none;
  }
}
