.header {
  width: 100%;
  background-image: $black-pearl2-to-bottom;
  z-index: 30;
  position: sticky;
  top: 0;
  left: 0;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px 37px;

  @include vp-1023 {
    align-items: start;
    padding: 20px 70px 25px 50px;
  }

  @include vp-767 {
    padding: 16px 35px 21px 26px;
  }
}

.header__logo {
  margin: 2px 0 0;

  @media (max-width: 1023px) {
    margin: 0 23px 0 0;
  }

  @include vp-767 {
    margin: 0;
    width: 35px;
    height: 35px;
  }
}

.header__list {
  display: grid;
  grid-template-columns: 225px 225px;
  gap: 6%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  align-self: center;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 4px;
  }
}

.header__item {
  //min-width: 254px;

  @include vp-1279 {
    min-width: auto;
  }

  @include vp-1023 {
    min-width: 40px;
  }
}

.header__link {
  font-family: $ff-ptmono;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-alice-blue;
  padding: 10px 0;

  @include vp-1023 {
    padding: 10px;
  }

  svg {
    margin-right: 5px;

    @include vp-1023 {
      margin-right: 0;
    }
  }

  span {
    @include vp-1023 {
      display: none;
    }
  }

  @include hover-focus {
    color: $color-deep-sky-blue;
  }
}

.header__button {
  font-family: $ff-roboto-cond;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-alice-blue;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 15px;
  margin: 0 62px 0 10px;

  @include vp-1023 {
    display: none;
  }

  @include hover-focus {
    color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;
  }
}
