.info {
  background-color: $black-pearl-to-bottom;
  background-image: url("../../img/bg-desktop.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -120px;
  margin-bottom: 120px;

  @include vp-1023 {
    margin-top: -100px;
    margin-bottom: 80px;
    background-image: url("../../img/bg-tablet.webp");
  }

  @include vp-767 {
    margin-top: -70px;
    margin-bottom: 49px;
    background-image: url("../../img/bg-mobile.webp");
  }
}

.info__container {
  position: relative;
  z-index: 9;
  padding: 305px 0 280px 165px;

  @include vp-1023 {
    padding: 180px 50px 205px;
  }

  @include vp-767 {
    padding: 150px 25px 188px;
  }

  h1 {
    font-family: $ff-roboto-cond;
    font-size: 80px;
    line-height: 94px;
    font-weight: 700;
    margin: 0 0 32px;
    color: $color-alice-blue;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin: 0;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 8px;
    }
  }

  p {
    max-width: 680px;
    font-family: $ff-ptmono;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    margin: 0 0 46px;
    color: $color-alice-blue;

    @include vp-1023 {
      margin: 0 0 56px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 44px;
    }
  }
}

.info__button {
  max-width: 410px;
  width: 100%;
  height: 55px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  @include vp-1023 {
    margin-left: 46px;
  }

  @include vp-767 {
    max-width: 270px;
    height: 40px;
    margin-left: 0;
    font-size: 14px;
    line-height: 16px;
    color: $color-alice-blue;
    padding: 10px;
    letter-spacing: 0.05em;
  }
}

.info__button-text {
  @include vp-767 {
    display: none;
  }
}

.info__button-text-mob {
  display: none;

  @include vp-767 {
    display: block;
  }
}
